<table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">User Operations</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items" onclick="location.href='?op=addpaneluser'">
                                       <img src="templates/ep-ic/general/images/addpaneluser.png" alt="Agregar Usuario o Cliente" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Usuario o Cliente</span></div><div class="items" onclick="location.href='?op=listpanelusers'">
                                       <img src="templates/ep-ic/general/images/listpanelusers.png" alt="Lista de Clientes / Usuarios" class="item" />
                                       <br>
                                       <span class="itemText">Lista de Clientes / Usuarios</span></div><div class="items" onclick="location.href='?op=addftpuser'">
                                       <img src="templates/ep-ic/general/images/addftpuser.png" alt="Ajouter des Comptes FTP" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter des Comptes FTP</span></div><div class="items" onclick="location.href='?op=addftptothispaneluser'">
                                       <img src="templates/ep-ic/general/images/addftptothispaneluser.png" alt="Agregar Cuentas FTP Para Usuarios Existentes" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Cuentas FTP Para Usuarios Existentes</span></div><div class="items" onclick="location.href='?op=addsubdomainwithftp'">
                                       <img src="templates/ep-ic/general/images/addsubdomainwithftp.png" alt="Agregar Usuario FTP Subdominio Acceso" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Usuario FTP Subdominio Acceso</span></div><div class="items" onclick="location.href='?op=addsubdirectorywithftp'">
                                       <img src="templates/ep-ic/general/images/addsubdirectorywithftp.png" alt="Agregar Usuario FTP Subdirectorio Acceso" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Usuario FTP Subdirectorio Acceso</span></div><div class="items" onclick="location.href='?op=addcustomftp'">
                                       <img src="templates/ep-ic/general/images/addcustomftp.png" alt="Crear Cuenta FTP Personalizado" class="item" />
                                       <br>
                                       <span class="itemText">Crear Cuenta FTP Personalizado</span></div><div class="items" onclick="location.href='?op=listallftpusers'">
                                       <img src="templates/ep-ic/general/images/listallftpusers.png" alt="Lista de Usuarios FTP" class="item" />
                                       <br>
                                       <span class="itemText">Lista de Usuarios FTP</span></div><div class="items" onclick="location.href='?op=removecustomftp'">
                                       <img src="templates/ep-ic/general/images/removecustomftp.png" alt="Eliminar Cuenta FTP Personalizado" class="item" />
                                       <br>
                                       <span class="itemText">Eliminar Cuenta FTP Personalizado</span></div><div class="items" onclick="location.href='?op=addemailuser'">
                                       <img src="templates/ep-ic/general/images/addemailuser.png" alt="Agregar Usuario Email" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Usuario Email</span></div><div class="items" onclick="location.href='?op=listallemailusers'">
                                       <img src="templates/ep-ic/general/images/listallemailusers.png" alt="Lista de Usuarios Email" class="item" />
                                       <br>
                                       <span class="itemText">Lista de Usuarios Email</span></div><div class="items" onclick="location.href='?op=addmysqldb'">
                                       <img src="templates/ep-ic/general/images/addmysqldb.png" alt="Crear base de Datos y Usuarios MySQL" class="item" />
                                       <br>
                                       <span class="itemText">Crear base de Datos y Usuarios MySQL</span></div><div class="items" onclick="location.href='?op=addmysqldbtouser'">
                                       <img src="templates/ep-ic/general/images/addmysqldbtouser.png" alt="Agregar MySQL Base de Datos a Usuarios Existentes" class="item" />
                                       <br>
                                       <span class="itemText">Agregar MySQL Base de Datos a Usuarios Existentes</span></div><div class="items" onclick="location.href='?op=dbadduser'">
                                       <img src="templates/ep-ic/general/images/dbadduser.png" alt="Agregar Usuarios MySQL" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Usuarios MySQL</span></div><div class="items" onclick="location.href='?op=domainop&action=listdb'">
                                       <img src="templates/ep-ic/general/images/domainop_listdb.png" alt="Lista de base de datos MySQL" class="item" />
                                       <br>
                                       <span class="itemText">Lista de base de datos MySQL</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Domain Operations</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items" onclick="location.href='?op=addDomainToThisPaneluser'">
                                       <img src="templates/ep-ic/general/images/adddomaintothispaneluser.png" alt="Agregar Dominios a Mi Cuenta" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Dominios a Mi Cuenta</span></div><div class="items" onclick="location.href='?op=bulkadddomain'">
                                       <img src="templates/ep-ic/general/images/bulkadddomain.png" alt="Agregar Dominios A Granel" class="item" />
                                       <br>
                                       <span class="itemText">Agregar Dominios A Granel</span></div><div class="items" onclick="location.href='?op=adddomain'">
                                       <img src="templates/ep-ic/general/images/adddomain.png" alt="Adicion de Dominio y Usarios" class="item" />
                                       <br>
                                       <span class="itemText">Adicion de Dominio y Usarios</span></div><div class="items" onclick="location.href='?op=adddomaineasy'">
                                       <img src="templates/ep-ic/general/images/adddomaineasy.png" alt="Simple Adicion de Dominio y Usarios" class="item" />
                                       <br>
                                       <span class="itemText">Simple Adicion de Dominio y Usarios</span></div><div class="items" onclick="location.href='?op=adddnsonlydomain'">
                                       <img src="templates/ep-ic/general/images/adddnsonlydomain.png" alt="Agregacion Hosting DNS" class="item" />
                                       <br>
                                       <span class="itemText">Agregacion Hosting DNS</span></div><div class="items" onclick="location.href='?op=adddnsonlydomainwithpaneluser'">
                                       <img src="templates/ep-ic/general/images/adddnsonlydomainwithpaneluser.png" alt="Agregacion Hosting DNS Para El Usuario" class="item" />
                                       <br>
                                       <span class="itemText">Agregacion Hosting DNS Para El Usuario</span></div><div class="items" onclick="location.href='?op=selectdomain'">
                                       <img src="templates/ep-ic/general/images/selectdomain.png" alt="Liste des Domaines" class="item" />
                                       <br>
                                       <span class="itemText">Liste des Domaines</span></div><div class="items" onclick="location.href='?op=listpassivedomains'">
                                       <img src="templates/ep-ic/general/images/listpassivedomains.png" alt="Lista de Dominios Pasivos" class="item" />
                                       <br>
                                       <span class="itemText">Lista de Dominios Pasivos</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">System Operations</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items" onclick="location.href='?op=operations'">
                                       <img src="templates/ep-ic/general/images/operations.png" alt="Operaciones Demonio" class="item" />
                                       <br>
                                       <span class="itemText">Operaciones Demonio</span></div><div class="items" onclick="location.href='?op=options'">
                                       <img src="templates/ep-ic/general/images/options.png" alt="Opciones" class="item" />
                                       <br>
                                       <span class="itemText">Opciones</span></div><div class="items" onclick="location.href='?op=serverstatus'">
                                       <img src="templates/ep-ic/general/images/serverstatus.png" alt="Estado del Servidor" class="item" />
                                       <br>
                                       <span class="itemText">Estado del Servidor</span></div><div class="items" onclick="location.href='?op=dosyncdns'">
                                       <img src="templates/ep-ic/general/images/dosyncdns.png" alt="Recarga de Zonas DNS" class="item" />
                                       <br>
                                       <span class="itemText">Recarga de Zonas DNS</span></div><div class="items" onclick="location.href='?op=dosyncdomains'">
                                       <img src="templates/ep-ic/general/images/dosyncdomains.png" alt="Syncroniza Dominios" class="item" />
                                       <br>
                                       <span class="itemText">Syncroniza Dominios</span></div><div class="items" onclick="location.href='?op=doupdatediskquota'">
                                       <img src="templates/ep-ic/general/images/doupdatediskquota.png" alt="Actualisacion de Quota (limite del disco duro)" class="item" />
                                       <br>
                                       <span class="itemText">Actualisacion de Quota (limite del disco duro)</span></div><div class="items" onclick="location.href='?op=dobackup'">
                                       <img src="templates/ep-ic/general/images/dobackup.png" alt="Crear Copias De Archivos" class="item" />
                                       <br>
                                       <span class="itemText">Crear Copias De Archivos</span></div><div class="items" onclick="location.href='?op=listbackups'">
                                       <img src="templates/ep-ic/general/images/listbackups.png" alt="Lista Copias de los Archivos" class="item" />
                                       <br>
                                       <span class="itemText">Lista Copias de los Archivos</span></div><div class="items" onclick="location.href='?op=dorestore'">
                                       <img src="templates/ep-ic/general/images/dorestore.png" alt="Restaurar Copias de los Archivos" class="item" />
                                       <br>
                                       <span class="itemText">Restaurar Copias de los Archivos</span></div><div class="items" onclick="location.href='?op=changetemplate'">
                                       <img src="templates/ep-ic/general/images/changetemplate.png" alt="Cambiar Plantilla" class="item" />
                                       <br>
                                       <span class="itemText">Cambiar Plantilla</span></div><div class="items" onclick="location.href='?op=changemypass'">
                                       <img src="templates/ep-ic/general/images/changemypass.png" alt="Cambiar Mi Contrase&ntilde;a" class="item" />
                                       <br>
                                       <span class="itemText">Cambiar Mi Contrase&ntilde;a</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br>