<table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Operaciones de Email</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items" onclick="location.href='?op=editemailuserpassword'">
                                       <img src="templates/ep-ic/general/images/changemypass.png" alt="Cambiar Contrase&ntilde;a" class="item" />
                                       <br>
                                       <span class="itemText">Cambiar Contrase&ntilde;a</span></div><div class="items" onclick="location.href='?op=editemailuserautoreply'">
                                       <img src="templates/ep-ic/general/images/addemailforwarding.png" alt="Cambiar Auto Respuesta" class="item" />
                                       <br>
                                       <span class="itemText">Cambiar Auto Respuesta</span></div><div class="items" onclick="location.href='?op=emailforwardingsself'">
                                       <img src="templates/ep-ic/general/images/emailforwardingsself.png" alt="Lista y Agregar Forwarders" class="item" />
                                       <br>
                                       <span class="itemText">Lista y Agregar Forwarders</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br>