<table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Reseller Operations</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items" onclick="location.href='?op=addpaneluser'">
                                       <img src="templates/ep-ic/general/images/addpaneluser.png" alt="Add New User or Client" class="item" />
                                       <br>
                                       <span class="itemText">Add New User or Client</span></div><div class="items" onclick="location.href='?op=listpanelusers'">
                                       <img src="templates/ep-ic/general/images/listpanelusers.png" alt="List All Users" class="item" />
                                       <br>
                                       <span class="itemText">List All Users</span></div><div class="items" onclick="location.href='?op=addemailuser'">
                                       <img src="templates/ep-ic/general/images/addemailuser.png" alt="Add Email Account" class="item" />
                                       <br>
                                       <span class="itemText">Add Email Account</span></div><div class="items" onclick="location.href='?op=listallemailusers'">
                                       <img src="templates/ep-ic/general/images/listallemailusers.png" alt="List All Email Users" class="item" />
                                       <br>
                                       <span class="itemText">List All Email Users</span></div><div class="items" onclick="location.href='?op=addmysqldb'">
                                       <img src="templates/ep-ic/general/images/addmysqldb.png" alt="Add MySQL Databases" class="item" />
                                       <br>
                                       <span class="itemText">Add MySQL Databases</span></div><div class="items" onclick="location.href='?op=addmysqldbtouser'">
                                       <img src="templates/ep-ic/general/images/addmysqldbtouser.png" alt="Add MySQL Database To User" class="item" />
                                       <br>
                                       <span class="itemText">Add MySQL Database To User</span></div><div class="items" onclick="location.href='?op=dbadduser'">
                                       <img src="templates/ep-ic/general/images/dbadduser.png" alt="Create MySQL User" class="item" />
                                       <br>
                                       <span class="itemText">Create MySQL User</span></div><div class="items" onclick="location.href='?op=domainop&action=listdb'">
                                       <img src="templates/ep-ic/general/images/domainop_listdb.png" alt="List MySQL Databases" class="item" />
                                       <br>
                                       <span class="itemText">List MySQL Databases</span></div><div class="items" onclick="location.href='?op=listallftpusers'">
                                       <img src="templates/ep-ic/general/images/listallftpusers.png" alt="List FTP Accounts" class="item" />
                                       <br>
                                       <span class="itemText">List FTP Accounts</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Domain Operations</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items" onclick="location.href='?op=addDomainToThisPaneluser'">
                                       <img src="templates/ep-ic/general/images/adddomaintothispaneluser.png" alt="Add Domain to My Account" class="item" />
                                       <br>
                                       <span class="itemText">Add Domain to My Account</span></div><div class="items" onclick="location.href='?op=bulkadddomain'">
                                       <img src="templates/ep-ic/general/images/bulkadddomain.png" alt="Add Bulk Domains to My Account" class="item" />
                                       <br>
                                       <span class="itemText">Add Bulk Domains to My Account</span></div><div class="items" onclick="location.href='?op=adddnsonlydomain'">
                                       <img src="templates/ep-ic/general/images/adddnsonlydomain.png" alt="Add DNS Domain" class="item" />
                                       <br>
                                       <span class="itemText">Add DNS Domain</span></div><div class="items" onclick="location.href='?op=adddnsonlydomainwithpaneluser'">
                                       <img src="templates/ep-ic/general/images/adddnsonlydomainwithpaneluser.png" alt="Add DNS Domain To User" class="item" />
                                       <br>
                                       <span class="itemText">Add DNS Domain To User</span></div><div class="items" onclick="location.href='?op=selectdomain'">
                                       <img src="templates/ep-ic/general/images/selectdomain.png" alt="List Domains" class="item" />
                                       <br>
                                       <span class="itemText">List Domains</span></div><div class="items" onclick="location.href='?op=listpassivedomains'">
                                       <img src="templates/ep-ic/general/images/listpassivedomains.png" alt="List Passive Domains" class="item" />
                                       <br>
                                       <span class="itemText">List Passive Domains</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">System Operations</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items" onclick="location.href='?op=operations'">
                                       <img src="templates/ep-ic/general/images/operations.png" alt="Daemon Operations" class="item" />
                                       <br>
                                       <span class="itemText">Daemon Operations</span></div><div class="items" onclick="location.href='?op=options'">
                                       <img src="templates/ep-ic/general/images/options.png" alt="Options" class="item" />
                                       <br>
                                       <span class="itemText">Options</span></div><div class="items" onclick="location.href='?op=dosyncdns'">
                                       <img src="templates/ep-ic/general/images/dosyncdns.png" alt="Reload DNS Zones" class="item" />
                                       <br>
                                       <span class="itemText">Reload DNS Zones</span></div><div class="items" onclick="location.href='?op=dosyncdomains'">
                                       <img src="templates/ep-ic/general/images/dosyncdomains.png" alt="Synchronize Domains" class="item" />
                                       <br>
                                       <span class="itemText">Synchronize Domains</span></div><div class="items" onclick="location.href='?op=dobackup'">
                                       <img src="templates/ep-ic/general/images/dobackup.png" alt="Create Backup" class="item" />
                                       <br>
                                       <span class="itemText">Create Backup</span></div><div class="items" onclick="location.href='?op=listbackups'">
                                       <img src="templates/ep-ic/general/images/listbackups.png" alt="List Backups" class="item" />
                                       <br>
                                       <span class="itemText">List Backups</span></div><div class="items" onclick="location.href='?op=dorestore'">
                                       <img src="templates/ep-ic/general/images/dorestore.png" alt="Restore Backup" class="item" />
                                       <br>
                                       <span class="itemText">Restore Backup</span></div><div class="items" onclick="location.href='?op=changetemplate'">
                                       <img src="templates/ep-ic/general/images/changetemplate.png" alt="Change Theme" class="item" />
                                       <br>
                                       <span class="itemText">Change Theme</span></div><div class="items" onclick="location.href='?op=changemypass'">
                                       <img src="templates/ep-ic/general/images/changemypass.png" alt="Change My Password" class="item" />
                                       <br>
                                       <span class="itemText">Change My Password</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br>