<table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">User Operations</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items" onclick="location.href='?op=addpaneluser'">
                                       <img src="templates/ep-ic/general/images/addpaneluser.png" alt="Add New User or Client" class="item" />
                                       <br>
                                       <span class="itemText">Add New User or Client</span></div><div class="items" onclick="location.href='?op=addpaneluser'">
                                       <img src="templates/ep-ic/general/images/addpaneluser.png" alt="Add New User or Client" class="item" />
                                       <br>
                                       <span class="itemText">Add New User or Client</span></div><div class="items" onclick="location.href='?op=listpanelusers'">
                                       <img src="templates/ep-ic/general/images/listpanelusers.png" alt="List All Users" class="item" />
                                       <br>
                                       <span class="itemText">List All Users</span></div><div class="items" onclick="location.href='?op=dosyncdns'">
                                       <img src="templates/ep-ic/general/images/dosyncdns.png" alt="Reload DNS Zones" class="item" />
                                       <br>
                                       <span class="itemText">Reload DNS Zones</span></div><div class="items" onclick="location.href='?op=dosyncdomains'">
                                       <img src="templates/ep-ic/general/images/dosyncdomains.png" alt="Synchronize Domains" class="item" />
                                       <br>
                                       <span class="itemText">Synchronize Domains</span></div><div class="items" onclick="location.href='?op=doupdatediskquota'">
                                       <img src="templates/ep-ic/general/images/doupdatediskquota.png" alt="Update Disk Quota" class="item" />
                                       <br>
                                       <span class="itemText">Update Disk Quota</span></div><div class="items" onclick="location.href='?op=addscript'">
                                       <img src="templates/ep-ic/general/images/addscript.png" alt="Easy Install Scripts" class="item" />
                                       <br>
                                       <span class="itemText">Easy Install Scripts</span></div><div class="items" onclick="location.href='?op=aboutcontactus'">
                                       <img src="templates/ep-ic/general/images/aboutcontactus.png" alt="Email Us" class="item" />
                                       <br>
                                       <span class="itemText">Email Us</span></div><div class="items" onclick="location.href='?op=help'">
                                       <img src="templates/ep-ic/general/images/help.png" alt="General Help" class="item" />
                                       <br>
                                       <span class="itemText">General Help</span></div><div class="items" onclick="location.href='?op=todolist'">
                                       <img src="templates/ep-ic/general/images/todolist.png" alt="To Do List" class="item" />
                                       <br>
                                       <span class="itemText">To Do List</span></div><div class="items" onclick="location.href='?op=changemypass'">
                                       <img src="templates/ep-ic/general/images/changemypass.png" alt="Change My Password" class="item" />
                                       <br>
                                       <span class="itemText">Change My Password</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Domain Operations</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items" onclick="location.href='?op=addDomainToThisPaneluser'">
                                       <img src="templates/ep-ic/general/images/adddomaintothispaneluser.png" alt="Add Domain to My Account" class="item" />
                                       <br>
                                       <span class="itemText">Add Domain to My Account</span></div><div class="items" onclick="location.href='?op=bulkadddomain'">
                                       <img src="templates/ep-ic/general/images/bulkadddomain.png" alt="Add Bulk Domains to My Account" class="item" />
                                       <br>
                                       <span class="itemText">Add Bulk Domains to My Account</span></div><div class="items" onclick="location.href='?op=adddomain'">
                                       <img src="templates/ep-ic/general/images/adddomain.png" alt="Create User and Add Domain" class="item" />
                                       <br>
                                       <span class="itemText">Create User and Add Domain</span></div><div class="items" onclick="location.href='?op=adddomaineasy'">
                                       <img src="templates/ep-ic/general/images/adddomaineasy.png" alt="Easy Create User and Add Domain" class="item" />
                                       <br>
                                       <span class="itemText">Easy Create User and Add Domain</span></div><div class="items" onclick="location.href='?op=adddnsonlydomain'">
                                       <img src="templates/ep-ic/general/images/adddnsonlydomain.png" alt="Add DNS Domain" class="item" />
                                       <br>
                                       <span class="itemText">Add DNS Domain</span></div><div class="items" onclick="location.href='?op=adddnsonlydomainwithpaneluser'">
                                       <img src="templates/ep-ic/general/images/adddnsonlydomainwithpaneluser.png" alt="Add DNS Domain To User" class="item" />
                                       <br>
                                       <span class="itemText">Add DNS Domain To User</span></div><div class="items" onclick="location.href='?op=selectdomain'">
                                       <img src="templates/ep-ic/general/images/selectdomain.png" alt="List Domains" class="item" />
                                       <br>
                                       <span class="itemText">List Domains</span></div><div class="items" onclick="location.href='?op=listpassivedomains'">
                                       <img src="templates/ep-ic/general/images/listpassivedomains.png" alt="List Passive Domains" class="item" />
                                       <br>
                                       <span class="itemText">List Passive Domains</span></div><div class="items" onclick="location.href='?op=subdomains'">
                                       <img src="templates/ep-ic/general/images/subdomains.png" alt="Manage Subdomains" class="item" />
                                       <br>
                                       <span class="itemText">Manage Subdomains</span></div><div class="items" onclick="location.href='?op=directories'">
                                       <img src="templates/ep-ic/general/images/directories.png" alt="Password Protected Directories" class="item" />
                                       <br>
                                       <span class="itemText">Password Protected Directories</span></div><div class="items" onclick="location.href='?op=customhttp'">
                                       <img src="templates/ep-ic/general/images/customhttp.png" alt="Custom HTTP" class="item" />
                                       <br>
                                       <span class="itemText">Custom HTTP</span></div><div class="items" onclick="location.href='?op=customdns'">
                                       <img src="templates/ep-ic/general/images/customdns.png" alt="Custom DNS" class="item" />
                                       <br>
                                       <span class="itemText">Custom DNS</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">FTP Operations</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items" onclick="location.href='?op=addftpuser'">
                                       <img src="templates/ep-ic/general/images/addftpuser.png" alt="Add FTP Account" class="item" />
                                       <br>
                                       <span class="itemText">Add FTP Account</span></div><div class="items" onclick="location.href='?op=addftptothispaneluser'">
                                       <img src="templates/ep-ic/general/images/addftptothispaneluser.png" alt="Add &amp; Assign FTP Accounts To User" class="item" />
                                       <br>
                                       <span class="itemText">Add &amp; Assign FTP Accounts To User</span></div><div class="items" onclick="location.href='?op=addsubdomainwithftp'">
                                       <img src="templates/ep-ic/general/images/addsubdomainwithftp.png" alt="Add Subdomain and Create FTP Account" class="item" />
                                       <br>
                                       <span class="itemText">Add Subdomain and Create FTP Account</span></div><div class="items" onclick="location.href='?op=addsubdirectorywithftp'">
                                       <img src="templates/ep-ic/general/images/addsubdirectorywithftp.png" alt="Add Subdirectory FTP Account" class="item" />
                                       <br>
                                       <span class="itemText">Add Subdirectory FTP Account</span></div><div class="items" onclick="location.href='?op=addcustomftp'">
                                       <img src="templates/ep-ic/general/images/addcustomftp.png" alt="Add Custom FTP Account" class="item" />
                                       <br>
                                       <span class="itemText">Add Custom FTP Account</span></div><div class="items" onclick="location.href='?op=listallftpusers'">
                                       <img src="templates/ep-ic/general/images/listallftpusers.png" alt="List FTP Accounts" class="item" />
                                       <br>
                                       <span class="itemText">List FTP Accounts</span></div><div class="items" onclick="location.href='?op=listftpusersrelatedtodomains'">
                                       <img src="templates/ep-ic/general/images/listftpusersrelatedtodomains.png" alt="List FTP Users By Domain" class="item" />
                                       <br>
                                       <span class="itemText">List FTP Users By Domain</span></div><div class="items" onclick="location.href='?op=listftpuserswithoutdomain'">
                                       <img src="templates/ep-ic/general/images/listftpuserswithoutdomain.png" alt="List FTP Users Without Domain" class="item" />
                                       <br>
                                       <span class="itemText">List FTP Users Without Domain</span></div><div class="items" onclick="location.href='?op=removecustomftp'">
                                       <img src="templates/ep-ic/general/images/removecustomftp.png" alt="Remove Custom FTP Account(s)" class="item" />
                                       <br>
                                       <span class="itemText">Remove Custom FTP Account(s)</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Email Operations</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items" onclick="location.href='?op=addemailuser'">
                                       <img src="templates/ep-ic/general/images/addemailuser.png" alt="Add Email Account" class="item" />
                                       <br>
                                       <span class="itemText">Add Email Account</span></div><div class="items" onclick="location.href='?op=emailforwardings'">
                                       <img src="templates/ep-ic/general/images/emailforwardings.png" alt="List &amp; Add Email Forwarders" class="item" />
                                       <br>
                                       <span class="itemText">List &amp; Add Email Forwarders</span></div><div class="items" onclick="location.href='?op=listallemailusers'">
                                       <img src="templates/ep-ic/general/images/listallemailusers.png" alt="List All Email Users" class="item" />
                                       <br>
                                       <span class="itemText">List All Email Users</span></div><div class="items" onclick="location.href='?op=listemailusers'">
                                       <img src="templates/ep-ic/general/images/listemailusers.png" alt="List Email Users of A Domain" class="item" />
                                       <br>
                                       <span class="itemText">List Email Users of A Domain</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">MySQL Operations</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items" onclick="location.href='?op=addmysqldb'">
                                       <img src="templates/ep-ic/general/images/addmysqldb.png" alt="Add MySQL Databases" class="item" />
                                       <br>
                                       <span class="itemText">Add MySQL Databases</span></div><div class="items" onclick="location.href='?op=dbadduser'">
                                       <img src="templates/ep-ic/general/images/dbadduser.png" alt="Create MySQL User" class="item" />
                                       <br>
                                       <span class="itemText">Create MySQL User</span></div><div class="items" onclick="location.href='?op=addmysqldbtouser'">
                                       <img src="templates/ep-ic/general/images/addmysqldbtouser.png" alt="Add MySQL Database To User" class="item" />
                                       <br>
                                       <span class="itemText">Add MySQL Database To User</span></div><div class="items" onclick="location.href='?op=domainop&action=listdb'">
                                       <img src="templates/ep-ic/general/images/domainop_listdb.png" alt="List MySQL Databases" class="item" />
                                       <br>
                                       <span class="itemText">List MySQL Databases</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">EHCP Server Status &amp; Info</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items" onclick="location.href='?op=operations'">
                                       <img src="templates/ep-ic/general/images/operations.png" alt="Daemon Operations" class="item" />
                                       <br>
                                       <span class="itemText">Daemon Operations</span></div><div class="items" onclick="location.href='?op=dobackup'">
                                       <img src="templates/ep-ic/general/images/dobackup.png" alt="Create Backup" class="item" />
                                       <br>
                                       <span class="itemText">Create Backup</span></div><div class="items" onclick="location.href='?op=listbackups'">
                                       <img src="templates/ep-ic/general/images/listbackups.png" alt="List Backups" class="item" />
                                       <br>
                                       <span class="itemText">List Backups</span></div><div class="items" onclick="location.href='?op=dorestore'">
                                       <img src="templates/ep-ic/general/images/dorestore.png" alt="Restore Backup" class="item" />
                                       <br>
                                       <span class="itemText">Restore Backup</span></div><div class="items" onclick="location.href='?op=options'">
                                       <img src="templates/ep-ic/general/images/options.png" alt="Options" class="item" />
                                       <br>
                                       <span class="itemText">Options</span></div><div class="items" onclick="location.href='?op=changetemplate'">
                                       <img src="templates/ep-ic/general/images/changetemplate.png" alt="Change Theme" class="item" />
                                       <br>
                                       <span class="itemText">Change Theme</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br>