<table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Domain Operations</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items" onclick="location.href='?op=addsubdomain'">
                                       <img src="templates/ep-ic/general/images/addsubdomain.png" alt="Add Subdomain" class="item" />
                                       <br>
                                       <span class="itemText">Add Subdomain</span></div><div class="items" onclick="location.href='?op=subdomains'">
                                       <img src="templates/ep-ic/general/images/addsubdomain.png" alt="List Subdomains" class="item" />
                                       <br>
                                       <span class="itemText">List Subdomains</span></div><div class="items" onclick="location.href='?op=editapachetemplate'">
                                       <img src="templates/ep-ic/general/images/editapachetemplate.png" alt="Edit Apache Template" class="item" />
                                       <br>
                                       <span class="itemText">Edit Apache Template</span></div><div class="items" onclick="location.href='?op=editdnstemplate'">
                                       <img src="templates/ep-ic/general/images/editdnstemplate.png" alt="Edit DNS Template" class="item" />
                                       <br>
                                       <span class="itemText">Edit DNS Template</span></div><div class="items" onclick="location.href='?op=customhttp'">
                                       <img src="templates/ep-ic/general/images/customhttp.png" alt="Custom HTTP" class="item" />
                                       <br>
                                       <span class="itemText">Custom HTTP</span></div><div class="items" onclick="location.href='?op=customdns'">
                                       <img src="templates/ep-ic/general/images/customdns.png" alt="Custom DNS" class="item" />
                                       <br>
                                       <span class="itemText">Custom DNS</span></div><div class="items" onclick="location.href='?op=editdomainaliases'">
                                       <img src="templates/ep-ic/general/images/editdomainaliases.png" alt="Edit Aliases" class="item" />
                                       <br>
                                       <span class="itemText">Edit Aliases</span></div><div class="items" onclick="location.href='?op=directories'">
                                       <img src="templates/ep-ic/general/images/directories.png" alt="Password Protected Directories" class="item" />
                                       <br>
                                       <span class="itemText">Password Protected Directories</span></div><div class="items" onclick="location.href='?op=changemypass'">
                                       <img src="templates/ep-ic/general/images/changemypass.png" alt="Change My Password" class="item" />
                                       <br>
                                       <span class="itemText">Change My Password</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">FTP Operations</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items" onclick="location.href='?op=editftpuser'">
                                       <img src="templates/ep-ic/general/images/editftpuser.png" alt="Change FTP Password" class="item" />
                                       <br>
                                       <span class="itemText">Change FTP Password</span></div><div class="items" onclick="location.href='?op=addftptothispaneluser'">
                                       <img src="templates/ep-ic/general/images/addftptothispaneluser.png" alt="Add General FTP User" class="item" />
                                       <br>
                                       <span class="itemText">Add General FTP User</span></div><div class="items" onclick="location.href='?op=addsubdomainwithftp'">
                                       <img src="templates/ep-ic/general/images/addsubdomainwithftp.png" alt="Add Subdomain and Create FTP Account" class="item" />
                                       <br>
                                       <span class="itemText">Add Subdomain and Create FTP Account</span></div><div class="items" onclick="location.href='?op=addsubdirectorywithftp'">
                                       <img src="templates/ep-ic/general/images/addsubdirectorywithftp.png" alt="Add Subdirectory FTP Account" class="item" />
                                       <br>
                                       <span class="itemText">Add Subdirectory FTP Account</span></div><div class="items" onclick="location.href='?op=listallftpusers'">
                                       <img src="templates/ep-ic/general/images/listallftpusers.png" alt="List FTP Accounts" class="item" />
                                       <br>
                                       <span class="itemText">List FTP Accounts</span></div><div class="items" onclick="location.href='net2ftp'">
                                       <img src="templates/ep-ic/general/images/webftp.png" alt="File Manager" class="item" />
                                       <br>
                                       <span class="itemText">File Manager</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">MySQL Operations</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items" onclick="location.href='?op=addmysqldb'">
                                       <img src="templates/ep-ic/general/images/addmysqldb.png" alt="Add MySQL Databases" class="item" />
                                       <br>
                                       <span class="itemText">Add MySQL Databases</span></div><div class="items" onclick="location.href='?op=dbadduser'">
                                       <img src="templates/ep-ic/general/images/dbadduser.png" alt="Create MySQL User" class="item" />
                                       <br>
                                       <span class="itemText">Create MySQL User</span></div><div class="items" onclick="location.href='?op=addmysqldbtouser'">
                                       <img src="templates/ep-ic/general/images/addmysqldbtouser.png" alt="Add MySQL Database To User" class="item" />
                                       <br>
                                       <span class="itemText">Add MySQL Database To User</span></div><div class="items" onclick="location.href='?op=domainop&action=listdb'">
                                       <img src="templates/ep-ic/general/images/domainop_listdb.png" alt="List MySQL Databases" class="item" />
                                       <br>
                                       <span class="itemText">List MySQL Databases</span></div><div class="items" onclick="location.href='http://{myip}/phpmyadmin'">
                                       <img src="templates/ep-ic/general/images/phpmyadmin.png" alt="PHPMyAdmin" class="item" />
                                       <br>
                                       <span class="itemText">PHPMyAdmin</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Email Operations</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items" onclick="location.href='?op=addemailuser'">
                                       <img src="templates/ep-ic/general/images/addemailuser.png" alt="Add Email Account" class="item" />
                                       <br>
                                       <span class="itemText">Add Email Account</span></div><div class="items" onclick="location.href='?op=listallemailusers'">
                                       <img src="templates/ep-ic/general/images/listallemailusers.png" alt="List All Email Users" class="item" />
                                       <br>
                                       <span class="itemText">List All Email Users</span></div><div class="items" onclick="location.href='?op=emailforwardings'">
                                       <img src="templates/ep-ic/general/images/emailforwardings.png" alt="List &amp; Add Email Forwarders" class="item" />
                                       <br>
                                       <span class="itemText">List &amp; Add Email Forwarders</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">My Settings</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items" onclick="location.href='?op=setdefaultdomain'">
                                       <img src="templates/ep-ic/general/images/setdefaultdomain.png" alt="Set As Default Domain" class="item" />
                                       <br>
                                       <span class="itemText">Set As Default Domain</span></div><div class="items" onclick="location.href='?op=domainsettings'">
                                       <img src="templates/ep-ic/general/images/domainsettings.png" alt="Domain Settings" class="item" />
                                       <br>
                                       <span class="itemText">Domain Settings</span></div><div class="items" onclick="location.href='?op=addredirect'">
                                       <img src="templates/ep-ic/general/images/addredirect.png" alt="Redirect Domains" class="item" />
                                       <br>
                                       <span class="itemText">Redirect Domains</span></div><div class="items" onclick="location.href='?op=editdomain'">
                                       <img src="templates/ep-ic/general/images/editdomain.png" alt="Activate or Deactivate Domain" class="item" />
                                       <br>
                                       <span class="itemText">Activate or Deactivate Domain</span></div><div class="items" onclick="location.href='?op=transferdomain'">
                                       <img src="templates/ep-ic/general/images/transferdomain.png" alt="Transfer Domain to Another User" class="item" />
                                       <br>
                                       <span class="itemText">Transfer Domain to Another User</span></div><div class="items" onclick="location.href='?op=deletedomain'">
                                       <img src="templates/ep-ic/general/images/deletedomain.png" alt="Delete Domain" class="item" />
                                       <br>
                                       <span class="itemText">Delete Domain</span></div><div class="items" onclick="location.href='?op=addscript'">
                                       <img src="templates/ep-ic/general/images/addscript.png" alt="Easy Install Scripts" class="item" />
                                       <br>
                                       <span class="itemText">Easy Install Scripts</span></div><div class="items" onclick="location.href='http://www.{selecteddomain}/webstats'">
                                       <img src="templates/ep-ic/general/images/webstats.png" alt="Statistics (Webstats)" class="item" />
                                       <br>
                                       <span class="itemText">Statistics (Webstats)</span></div><div class="items" onclick="location.href='?op=changemypass'">
                                       <img src="templates/ep-ic/general/images/changemypass.png" alt="Change My Password" class="item" />
                                       <br>
                                       <span class="itemText">Change My Password</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br>