<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head><title>homepage</title></head>
<body><div style="text-align: center;"><div style="text-align: center;"><big style="font-weight: bold;"><big>Easy Hosting Control
Panel</big></big><big style="font-weight: bold;"><big> (ehcp)</big></big><br><big style="font-weight: bold;"><big>Server</big></big><font size="5"><span style="font-weight: 700">a 
	administr&#257;tora panelis</span></font><br>
</div>

  
    
      
      <span style="font-weight: bold;"></span><span style="font-weight: bold;"></span>
</div>
<table style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td>
      <div style="text-align: center;"><span style="font-weight: bold;"> Domeina 
		Konfigur&#257;cijas: <br>
      </span><span style="font-weight: bold;"><img style="width: 50px; height: 52px;" alt="" src="images/domains.jpg"></span></div>
      <ol>
       <li><a href="?op=listdomains">Par&#257;d&#299;t Domeinus</a></li>
       <li><a href="?op=adddomaineasy">&#256;tri pievienot Domeina ( hostingu, viss 
		lietot&#257;jv&#257;rds un parole t&#257; pati ) </a></li> 
       <li><a href="?op=adddomain">Pievienot Domeinu ( hostingu ) </a></li>
       
        <li><a href="?op=listpassivedomains">List passive domains and new domain applications</a></li>        
	_____________________________________
        <li><a href="?op=customhttp">Par&#257;d&#299;t / Pievienot http </a></li>
        <li><a href="?op=customdns">Par&#257;d&#299;t / Pievienot dns </a></li>
	<li><a href="?op=subdomains">Par&#257;d&#299;t / Pievienot Sub Domeinus </a></li>
	<li><a href="?op=directories">Par&#257;d&#299;t / Pievienot ar Paroli aizsarg&#257;t&#257;s 
	mapes</a></li>
      </ol>
      </td>
      <td>
      <div style="text-align: center;"><span style="font-weight: 700">FTP 
		Lietot&#257;ja Konfigur&#257;cijas:</span><span style="font-weight: bold;"><br>
      <img style="width: 50px; height: 50px;" alt="" src="images/ftp.jpg"></span><br>
      </div>
      <ol>
        <li><a href="?op=listallftpusers">Par&#257;d&#299;t visus FTP Lietot&#257;jus</a></li>
        <li><a href="?op=listftpusersrelatedtodomains">Par&#257;d&#299;t FTP Lietot&#257;jus 
		kuriem ir Domeins</a></li>
        <li><a href="?op=listftpuserswithoutdomain">Par&#257;d&#299;t FTP Lietot&#257;jus 
		kuriem nav Domeina</a></li>
        <li><a href="?op=addftpuser">Pievienot FTP Lietot&#257;ju</a></li>
      </ol>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
      <div style="text-align: center;"><span style="font-weight: bold;">E-maila 
		Konfigur&#257;cijas:<br>
      <img style="width: 52px; height: 50px;" alt="" src="images/email.jpg"></span></div>
      <ol>
        <li><a href="?op=listemailusers">Par&#257;d&#299;t E-maila Lietot&#257;jus ar Domeiniem</a></li>
        <li><a href="?op=listallemailusers">Par&#257;d&#299;t visus E-maila Lietot&#257;jus</a></li>
        <li><a href="?op=addemailuser">Pievienot E-maila Lietot&#257;ju</a></li>
	<li><a href="?op=emailforwardings">Par&#257;d&#299;t / Pievienot E-maila P&#257;radres&#257;ciju</a></li>
      </ol>
      </td>
      <td>
      <div style="text-align: center;"><span style="font-weight: bold;">MYSQL 
		Datub&#257;zes Konfigur&#257;cijas:<br>
      <img style="width: 48px; height: 48px;" alt="" src="images/database.jpg"></span></div>
      <ol>
        <li><a href="?op=addmysqldb">Pievienot MYSQL Datub&#257;zi</a></li>
        <li><a href="?op=domainop&action=listdb">Par&#257;d&#299;t MYSQL Datub&#257;zes</a></li>
      </ol>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
      <div style="text-align: center;"><span style="font-weight: 700">Citas 
		Konfigur&#257;cijas:</span></div>
      <ol>
        <li><a href="?op=listpanelusers">Par&#257;d&#299;t Pane&#316;a lietot&#257;jus</a></li>
 		<li><a href="?op=addpaneluser">Pievienot Pane&#316;a lietot&#257;ju</a></li>
 		<li><a href="?op=addscript">Viegli / &#256;tri instal&#275;jamie skripti</a></li>
        <li><a href="?op=changemypass">Nomain&#299;t manu Paroli</a></li>
        <li><a href="?op=dosyncdns">Sinhronaniz&#275;t DNS</a></li>
        <li><a href="?op=dosyncdomains">Sinhronaniz&#275;t Domeinus</a></li>
        <li><a href="?op=help">Tehnisk&#257; Pane&#316;a pal&#299;dz&#299;ba / atbalsts</a></li>
        <li><a href="?op=todolist">Kotrolpane&#316;a N&#257;kotnes pl&#257;notie uzlabojumi</a></li>
        <li><a href="?op=aboutcontactus">Kontaktu Forma</a></li>
      </ol>
      </td>
      <td>
      <div style="text-align: center;"><span style="font-weight: bold;">EHCP 
		Statusa inform&#257;cija: </span>
      	<br>
      </div>
      <ol>
	<li><a href="?op=operations">Par&#257;d&#299;t Lietot&#257;ja darb&#299;bas</a></li>
	<li><a href="index.php?op=dobackup">Spogu&#316; Serveris</a></li>
	<li><a href="index.php?op=dorestore">Atjaunot Iestatijumus</a></li>
	<li><a href="index.php?op=listbackups">Apskat&#299;t Spogu&#316; Servera ierakstus</a></li>
	<li><a href="?op=options">Labot / Servera iestatijumus / Opcijas</a></li>
	<li><a href="?op=changetemplate">Izv&#275;l&#275;ties / Nomain&#299;t Dizainu</a></li>

     </ol>
      </td>
      <td></td>
    </tr>
  </tbody>
</table></body></html>
