<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head><title>homepage</title></head>
<body><div style="text-align: center;"><div style="text-align: center;"><big style="font-weight: bold;"><big></big></big><big style="font-weight: bold;"><big>Server Admin Main Menu</big></big><br>
</div>

  
    
      
      <span style="font-weight: bold;"></span><span style="font-weight: bold;"></span>
</div>
<table style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td style="text-align: center;"><a href="?op=selectdomain">Bir Domain Sec</a></td>
      
      
    </tr>
    <tr>
      <td style="text-align: center;">{quickdomains}</td>
      
      
    </tr>
    <tr> <td style="text-align: center;"><br>
		<a href="?op=addDomainToThisPaneluser">Varolan Kendi ftpme Kolay Domain Ekle</a><br>
		<a href="?op=adddomaineasy">Yeni ftp ve panel kullanicisi ile Kolay Domain Ekle</a><br>
		<a href="?op=adddomain">Normal Domain Ekle</a><br><br><br>
    </td>
</tr>
    <tr>
      <td style="text-align: center;"><a href="?op=otheroperations">Other Operations</a></td>
      
      
    </tr>
  </tbody>
</table></body></html>
