<html>
<head>
  <meta http-equiv="content-type"
 content="text/html; charset=utf-8">
  <title>Ana Sayfa</title>
</head>

<body>

<div style="text-align: center;">
<big style="font-weight: bold;">
<big>Domain Menüsü Reseller/Admin<br></big></big>
<br>
</div>



<table style="text-align: left; width: 100%;" border="1" cellpadding="2"
 cellspacing="2">
  <tbody>
    <tr>
      <td onMouseOver="this.style.backgroundColor='#ededed'" onMouseOut="this.style.backgroundColor='#ffffff'">
      <div style="text-align: center;"><span style="font-weight: bold;"></span>
      <span style="font-weight: bold;"> DOMAIN ÝÞLEMLERÝ <br>
      </span>
      <span style="font-weight: bold;">
      <img style="width: 50px; height: 52px;" alt="" src="images/domains.jpg"></span></div>
      <ol>
        <li><a href="?op=customhttp">Domain Ekle / Listele </a></li>
        <li><a href="?op=customdns">DNS Ekle / Listele</a></li>
        <li><a href="?op=subdomains">Alt Domain ekle / Listele </a></li>
        <li><a href="?op=directories">Þifreli Klasör Ekle / Listele </a></li>
      </ol>
      </td>
      
      <td style="vertical-align: top;" onMouseOver="this.style.backgroundColor='#ededed'" onMouseOut="this.style.backgroundColor='#ffffff'">
      <div style="text-align: center;">
      <span style="font-weight: bold;">FTP KULLANICI ÝÞLEMLERÝ<br>
      <img style="width: 50px; height: 50px;" alt="" src="images/ftp.jpg"></span><br>
      </div>
      <ol>
        <li><a href="?op=editftpuser">FTP Þifresi Deðiþtir / Ayarlar</a></li>
        <li><a href="net2ftp">WebFTP</a></li>
      </ol>
      </td>
      <td><br>
      </td>
    </tr>
    <tr>
      <td onMouseOver="this.style.backgroundColor='#ededed'" onMouseOut="this.style.backgroundColor='#ffffff'">
      <div style="text-align: center;"><span style="font-weight: bold;">EMAIL ÝÞLEMLERÝ<br>
      <img style="width: 52px; height: 50px;" alt="" src="images/email.jpg"></span></div>
      <ol>
        <li><a href="?op=listemailusers">Kullanýcý Listele / Þifre Deðiþtir</a></li>
        <li><a href="?op=addemailuser">Email Kullanýcýsý ekle</a></li>
        <li><a href="?op=emailforwardings">Email Yönlendirme Ekle / Listele</a></li>
      </ol>
      </td>
      
      <td style="vertical-align: top;" onMouseOver="this.style.backgroundColor='#ededed'" onMouseOut="this.style.backgroundColor='#ffffff'">
      <div style="text-align: center;"><span style="font-weight: bold;">MYSQL DATABASE ÝÞLEMLERÝ<br>
      <img style="width: 48px; height: 48px;" alt="" src="images/database.jpg"></span></div>
      <ol>
        <li><a href="?op=addmysqldb">Database ve Kullanýcýsý Ekle</a></li>
        <li><a href="?op=addmysqldbtouser">Varolan Kullanýcýya DB Ekle</a></li>
        <li><a href="?op=dbadduser">Varolan Database'e Kullanýcý Ekle</a></li>
        <li><a href="?op=domainop&amp;action=listdb">Database Listele / Sil</a></li>
      </ol>
      </td>
      <td><br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;" onMouseOver="this.style.backgroundColor='#ededed'" onMouseOut="this.style.backgroundColor='#ffffff'">
      <div style="text-align: center;"><span style="font-weight: bold;">DÝÐER ÝÞLEMLER<br>
      </span>
      <table style="text-align: left; width: 100%;" border="0" cellpadding="2" cellspacing="2">
        <tbody>
          <tr>
            <td style="text-align: center;">
            <a href="?op=addscript">
            <img style="width: 50px; height: 50px;border: 0px solid ;" alt="installscripts" src="images/install.jpg"><br>
            Kolay Script Kurulumu<br>
            </a></td>
          </tr>
          <tr>
            <td style="text-align: center;"><br>
            <a target="_blank" href="http://www.{selecteddomain}/webstats">
            <img style="width: 90px; height: 46px; border: 0px solid ;" alt="statistics" src="images/statistics.jpg">
            <br> Web Ýstatistikleri</a><br>
            </td>

          </tr>
        </tbody>
      </table>
      <span style="font-weight: bold;"><br>
      </span></div>

      </td>
      
      <td style="vertical-align: top;" onMouseOver="this.style.backgroundColor='#ededed'" onMouseOut="this.style.backgroundColor='#ffffff'">
      <div style="text-align: center;"><span style="font-weight: bold;">DOMAÝN AYARLAR ÝÞLEMLERÝ<br>
      <img style="border: 0px solid ; width: 48px; height: 48px;" alt="settings" src="images/settings.jpg"><br>
      </span></div>
      <ol>
        <li><a href="?op=domainsettings">Domain/Hosting ayarlarýný deðiþtir</a></li>
        <li><a href="?op=editdomain">Domain/Hosting Aktif / Pasif</a></li>
        <li><a href="?op=transferdomain">Domain/Hosting Transferi</a></li>
        <li><a href="?op=addredirect">Domain/Hosting Yönlendirme</a></li>
        <li><a href="?op=deletedomain">Domain/Hosting Sil</a></li>
      </ol>
      </td>
      <td><br>
      </td>
    </tr>
  </tbody>
</table>
<br>
Turkcelestirme ravendark06 tarafindan yapilmistir. Tesekkurler.<br>
</body>
</html>
