<table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Op&eacute;rations Des Domaines</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items" onclick="location.href='?op=addsubdomain'">
                                       <img src="templates/ep-ic/general/images/addsubdomain.png" alt="Ajouter Un Sous-Domaine" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Un Sous-Domaine</span></div><div class="items" onclick="location.href='?op=subdomains'">
                                       <img src="templates/ep-ic/general/images/addsubdomain.png" alt="Liste de Mes Sous-Domaines" class="item" />
                                       <br>
                                       <span class="itemText">Liste de Mes Sous-Domaines</span></div><div class="items" onclick="location.href='?op=editapachetemplate'">
                                       <img src="templates/ep-ic/general/images/editapachetemplate.png" alt="Changer Le Mod&egrave;le Apache" class="item" />
                                       <br>
                                       <span class="itemText">Changer Le Mod&egrave;le Apache</span></div><div class="items" onclick="location.href='?op=editdnstemplate'">
                                       <img src="templates/ep-ic/general/images/editdnstemplate.png" alt="Changer Le Mod&egrave;le DNS" class="item" />
                                       <br>
                                       <span class="itemText">Changer Le Mod&egrave;le DNS</span></div><div class="items" onclick="location.href='?op=customhttp'">
                                       <img src="templates/ep-ic/general/images/customhttp.png" alt="Personnaliser HTTP" class="item" />
                                       <br>
                                       <span class="itemText">Personnaliser HTTP</span></div><div class="items" onclick="location.href='?op=customdns'">
                                       <img src="templates/ep-ic/general/images/customdns.png" alt="Personnaliser DNS" class="item" />
                                       <br>
                                       <span class="itemText">Personnaliser DNS</span></div><div class="items" onclick="location.href='?op=editdomainaliases'">
                                       <img src="templates/ep-ic/general/images/editdomainaliases.png" alt="Changer Alias D'un Domaine" class="item" />
                                       <br>
                                       <span class="itemText">Changer Alias D'un Domaine</span></div><div class="items" onclick="location.href='?op=directories'">
                                       <img src="templates/ep-ic/general/images/directories.png" alt="R&eacute;pertoires Prot&eacute;g&eacute;s (par mot de passe)" class="item" />
                                       <br>
                                       <span class="itemText">R&eacute;pertoires Prot&eacute;g&eacute;s (par mot de passe)</span></div><div class="items" onclick="location.href='?op=changemypass'">
                                       <img src="templates/ep-ic/general/images/changemypass.png" alt="Changez Mon Mot De Passe" class="item" />
                                       <br>
                                       <span class="itemText">Changez Mon Mot De Passe</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Op&eacute;rations FTP</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items" onclick="location.href='?op=editftpuser'">
                                       <img src="templates/ep-ic/general/images/editftpuser.png" alt="Changer le mot De passe FTP" class="item" />
                                       <br>
                                       <span class="itemText">Changer le mot De passe FTP</span></div><div class="items" onclick="location.href='?op=addftptothispaneluser'">
                                       <img src="templates/ep-ic/general/images/addftptothispaneluser.png" alt="Ajouter FTP Utilisateurs G&eacute;n&eacute;ral" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter FTP Utilisateurs G&eacute;n&eacute;ral</span></div><div class="items" onclick="location.href='?op=addsubdomainwithftp'">
                                       <img src="templates/ep-ic/general/images/addsubdomainwithftp.png" alt="Ajouter des acc&egrave;s utilisateurs aux Sous-Domaines" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter des acc&egrave;s utilisateurs aux Sous-Domaines</span></div><div class="items" onclick="location.href='?op=addsubdirectorywithftp'">
                                       <img src="templates/ep-ic/general/images/addsubdirectorywithftp.png" alt="Ajouter des acc&egrave;s utilisateurs aux autres sous r&eacute;pertoires" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter des acc&egrave;s utilisateurs aux autres sous r&eacute;pertoires</span></div><div class="items" onclick="location.href='?op=listallftpusers'">
                                       <img src="templates/ep-ic/general/images/listallftpusers.png" alt="Liste des Comptes FTP" class="item" />
                                       <br>
                                       <span class="itemText">Liste des Comptes FTP</span></div><div class="items" onclick="location.href='net2ftp'">
                                       <img src="templates/ep-ic/general/images/webftp.png" alt="Gestionnaire de Fichiers" class="item" />
                                       <br>
                                       <span class="itemText">Gestionnaire de Fichiers</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Op&eacute;rations MySQL</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items" onclick="location.href='?op=addmysqldb'">
                                       <img src="templates/ep-ic/general/images/addmysqldb.png" alt="Ajouter Comptes MySQL Avec Databases MySQL" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Comptes MySQL Avec Databases MySQL</span></div><div class="items" onclick="location.href='?op=dbadduser'">
                                       <img src="templates/ep-ic/general/images/dbadduser.png" alt="Ajouter MySQL Utilisateurs" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter MySQL Utilisateurs</span></div><div class="items" onclick="location.href='?op=addmysqldbtouser'">
                                       <img src="templates/ep-ic/general/images/addmysqldbtouser.png" alt="Ajouter Databases MySQL Aux Utilisateurs Existants" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Databases MySQL Aux Utilisateurs Existants</span></div><div class="items" onclick="location.href='?op=domainop&action=listdb'">
                                       <img src="templates/ep-ic/general/images/domainop_listdb.png" alt="Liste de Databases MySQL" class="item" />
                                       <br>
                                       <span class="itemText">Liste de Databases MySQL</span></div><div class="items" onclick="location.href='http://{myip}/phpmyadmin'">
                                       <img src="templates/ep-ic/general/images/phpmyadmin.png" alt="PHPMyAdmin" class="item" />
                                       <br>
                                       <span class="itemText">PHPMyAdmin</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Op&eacute;rations Messageries</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items" onclick="location.href='?op=addemailuser'">
                                       <img src="templates/ep-ic/general/images/addemailuser.png" alt="Ajouter Comptes Emails" class="item" />
                                       <br>
                                       <span class="itemText">Ajouter Comptes Emails</span></div><div class="items" onclick="location.href='?op=listallemailusers'">
                                       <img src="templates/ep-ic/general/images/listallemailusers.png" alt="Liste des Comptes Emails" class="item" />
                                       <br>
                                       <span class="itemText">Liste des Comptes Emails</span></div><div class="items" onclick="location.href='?op=emailforwardings'">
                                       <img src="templates/ep-ic/general/images/emailforwardings.png" alt="Liste des Exp&eacute;diteurs Email" class="item" />
                                       <br>
                                       <span class="itemText">Liste des Exp&eacute;diteurs Email</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br><table border="0" cellspacing="0" cellpadding="0" class="submain" id="user">
                                <tr class="display">
                                  <td class="subText">
                                      <div class="titleDiv">Mes Param&egrave;tres</div><img src="templates/ep-ic/general/images/collapse.gif" alt="collapse" onclick="collapse(this)" class="func">
                                  </td>
                                </tr>
                                <tr>
                                  <td class="action">
                                    <table border="0" cellspacing="0" cellpadding="0" class="fullWidth">
                                      <tr>
                                        <td><div class="items" onclick="location.href='?op=domainsettings'">
                                       <img src="templates/ep-ic/general/images/domainsettings.png" alt="Options du Domaine" class="item" />
                                       <br>
                                       <span class="itemText">Options du Domaine</span></div><div class="items" onclick="location.href='?op=addredirect'">
                                       <img src="templates/ep-ic/general/images/addredirect.png" alt="Faire Suivre le Domaine" class="item" />
                                       <br>
                                       <span class="itemText">Faire Suivre le Domaine</span></div><div class="items" onclick="location.href='?op=editdomain'">
                                       <img src="templates/ep-ic/general/images/editdomain.png" alt="Activer ou d&eacute;sactiver un Domaine" class="item" />
                                       <br>
                                       <span class="itemText">Activer ou d&eacute;sactiver un Domaine</span></div><div class="items" onclick="location.href='?op=transferdomain'">
                                       <img src="templates/ep-ic/general/images/transferdomain.png" alt="Transfert de Domaine A d'Autres utilisateurs" class="item" />
                                       <br>
                                       <span class="itemText">Transfert de Domaine A d'Autres utilisateurs</span></div><div class="items" onclick="location.href='?op=deletedomain'">
                                       <img src="templates/ep-ic/general/images/deletedomain.png" alt="Effacez le Domaine" class="item" />
                                       <br>
                                       <span class="itemText">Effacez le Domaine</span></div><div class="items" onclick="location.href='?op=addscript'">
                                       <img src="templates/ep-ic/general/images/addscript.png" alt="Installation Rapide De Scripts" class="item" />
                                       <br>
                                       <span class="itemText">Installation Rapide De Scripts</span></div><div class="items" onclick="location.href='http://www.{selecteddomain}/webstats'">
                                       <img src="templates/ep-ic/general/images/webstats.png" alt="Statistiques De Site Web (Webstats)" class="item" />
                                       <br>
                                       <span class="itemText">Statistiques De Site Web (Webstats)</span></div><div class="items" onclick="location.href='?op=changemypass'">
                                       <img src="templates/ep-ic/general/images/changemypass.png" alt="Changez Mon Mot De Passe" class="item" />
                                       <br>
                                       <span class="itemText">Changez Mon Mot De Passe</span></div>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                              <br>