<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head><title>homepage</title></head>
<body><div style="text-align: center;">
      <div style="text-align: center;"><big style="font-weight: bold;"><big></big></big><big style="font-weight: bold;"><big>Men&uacute; de Revendedor/Administrador<br>
      </big></big><big style="font-weight: bold;"><big><br></big></big>
</div>

  
    
      
      <span style="font-weight: bold;"></span><span style="font-weight: bold;"></span>
</div>
<table style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td>
      <div style="text-align: center;"><span style="font-weight: bold;"></span><span style="font-weight: bold;">OPERACIONES DE DOMINIO<br>
      </span><span style="font-weight: bold;"><img style="width: 50px; height: 52px;" alt="" src="images/domains.jpg"></span></div>
      <ol>
       
        <li><a href="?op=customhttp">Listar / Agregar  HTTP </a></li>
        <li><a href="?op=customdns">Listar / Agregar DNS </a></li>
        <li><a href="?op=subdomains">Listar / Agregar SubDominios </a></li>
        <li><a href="?op=directories">Listar / Agregar directorios protegidos con clave</a></li>
        </ol>
      </td>
      <td style="vertical-align: top;">
      <div style="text-align: center;"><span style="font-weight: bold;">OPERACIONES DE USUARIO DE FTP<br>
      <img style="width: 50px; height: 50px;" alt="" src="images/ftp.jpg"></span><br>
      </div>
      <ol>
        <li><a href="?op=editftpuser">Modificar contrase&ntilde;a de FTP y Opciones</a></li>
      </ol>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
      <div style="text-align: center;"><span style="font-weight: bold;">OPERACIONES DE CORREO<br>
      <img style="width: 52px; height: 50px;" alt="" src="images/email.jpg"></span></div>
      <ol>
        <li><a href="?op=listallemailusers">Listar todos los usuarios de correo / Modificar contrase&ntilde;a</a></li>
        <li><a href="?op=addemailuser">Agregar usuario de correo</a></li>
        <li><a href="?op=emailforwardings">Listar /Agregar redireccionamiento de correo</a></li>
        </ol>
      </td>
      <td style="vertical-align: top;">
      <div style="text-align: center;"><span style="font-weight: bold;">OPERACIONES DE MySQL<br>
      <img style="width: 48px; height: 48px;" alt="" src="images/database.jpg"></span></div>
      <ol>
        <li><a href="?op=addmysqldb">Agregar una Base de Datos</a></li>
        <li><a href="?op=domainop&amp;action=listdb">Listar Bases de datos</a></li>
        </ol>
      </td>
      <td></td>
    </tr>
    <tr>
      <td style="vertical-align: top;">
      <div style="text-align: center;"><span style="font-weight: bold;">OTROS</span></div>
      <ol>
        <li><a href="?op=addscript">Easy Install Scripts</a> (instaladores autom&aacute;ticos)</li>
      </ol>
      </td>
      <td style="vertical-align: top;"><div style="text-align: center;"><span style="font-weight: bold;">CAMBIAR OPCIONES DEL DOMINIO</span></div>
      <ol>
        <li><a href="?op=domainsettings">Cambiar las opciones para este dominio</a></li>
        <li><a href="?op=editdomain">Activar / Des-activar dominio</a></li>
        <li><a href="?op=transferdomain">Transferir Dominio</a></li>
        <li><a href="?op=deletedomain">BORRAR DOMINIO/ALOJAMIENTO</a></li>
      </ol></td>
      <td></td>
    </tr>
  </tbody>
</table></body></html>