<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head><title>homepage</title></head>
<body><div style="text-align: center;">
      <div style="text-align: center;"><big style="font-weight: bold;"><big></big></big><big style="font-weight: bold;"><big>Men&uacute; primario de Administrador del servidor</big></big><br>
</div>

  
    
      
      <span style="font-weight: bold;"></span><span style="font-weight: bold;"></span>
</div>
<table style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td colspan="1" rowspan="1" style="text-align: center;"><br><br>{quickdomains}<br>
      <a href="?op=selectdomain">Elegir-Seleccionar Dominio</a><br><br>
      <a href="?op=adddomaineasy"> Agregar Dominio rapido (Easy add)</a><br>
      <a href="?op=adddomain">Agregar Dominio</a><br><br><br><br>
      <a href="?op=resellers">Revendedores</a><br>
      
      <a href="?op=otheroperations">Otras Operaciones / Viejo Men&uacute;</a><br>
      <a href="?op=options">Configuraci&oacute;n / Opciones / Preferences</a><br><br><br>
      
      </td>
      
      
    </tr>
    <tr>
      
      
      
    </tr>
    <tr>
      
      
      
    </tr>
  </tbody>
</table></body></html>