<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head><title>homepage</title></head>
<body>
<div style="text-align: center;"><big style="font-weight: bold;"><big></big></big><big style="font-weight: bold;"><big>Men&uacute; primario de Revendedor</big></big><br>
</div>
<table style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td>
      <div style="text-align: center;"><span style="font-weight: bold;"></span><span style="font-weight: bold;"> OPERACIONES DE DOMINIO<br>
      </span><span style="font-weight: bold;"><img style="width: 50px; height: 52px;" alt="" src="images/domains.jpg"></span></div>
      <ol>
       <li><a href="?op=listdomains">Listar Dominios</a></li>
       <li><a href="?op=adddomaineasy">Agregar dominio r&aacute;pido (usuario, contrase&ntilde;a)</a></li> 
       <li><a href="?op=adddomain">Agregar dominio (alojamiento)</a></li>
       
        <li><a href="?op=listpassivedomains">Listar dominios pasivos (y aplicaciones)</a></li>        
	_____________________________________
        <li><a href="?op=customhttp">Listar / Agregar HTTP a medida</a></li>
        <li><a href="?op=customdns">Listar / Agregar DNS a medida</a></li>
	<li><a href="?op=subdomains">Listar / Agregar SubDominio</a></li>
	<li><a href="?op=directories">Listar / Agregar directorio protegido con contrase&ntilde;a</a></li>
      </ol>
      </td>
      <td>
      <div style="text-align: center;"><span style="font-weight: bold;">OPERACIONES DE USUARIO DE FTP<br>
      <img style="width: 50px; height: 50px;" alt="" src="images/ftp.jpg"></span><br>
      </div>
      <ol>
        <li><a href="?op=listallftpusers">Listar todos los usuarios de FTP</a></li>
        <li><a href="?op=listftpusersrelatedtodomains">Listar usuarios de FTP asociados con dominios</a></li>
        <li><a href="?op=listftpuserswithoutdomain">Listar usuarios de FTP sin dominio</a></li>
        <li><a href="?op=addftpuser">Agregar usuario de FTP</a></li>
      </ol>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
      <div style="text-align: center;"><span style="font-weight: bold;">OPERACIONES DE CORREO<br>
      <img style="width: 52px; height: 50px;" alt="" src="images/email.jpg"></span></div>
      <ol>
        <li><a href="?op=listemailusers">Listar usuarios de correo de un dominio</a></li>
        <li><a href="?op=listallemailusers">Listar todos los usuarios de correo</a></li>
        <li><a href="?op=addemailuser">Agregar usuario de correo</a></li>
	<li><a href="?op=emailforwardings">Listar/Agregar redireccionamiento de correo</a></li>
      </ol>
      </td>
      <td>
      <div style="text-align: center;"><span style="font-weight: bold;">OPERACIONES DE BD MySQL<br>
      <img style="width: 48px; height: 48px;" alt="" src="images/database.jpg"></span></div>
      <ol>
        <li><a href="?op=addmysqldb">Agregar base de datos MySQL</a></li>
        <li><a href="?op=domainop&amp;action=listdb">Listar bases de datos MySQL</a></li>
      </ol>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
      <div style="text-align: center;"><span style="font-weight: bold;">OTROS/REVENDEDOR</span></div>
      <ol>
        <li><a href="?op=listpanelusers">Listar usuarios del panel y revendedores</a></li>
 		<li><a href="?op=addpaneluser">Agregar usuario del panel/revendedor</a></li>
 		<li><a href="?op=addscript">Easy Install Scripts (instalar aplicaciones r&aacute;pidas)</a></li>
        <li><a href="?op=changemypass">Cambiar mi contrase&ntilde;a</a></li>
        <li><a href="?op=dosyncdns">Sincronizar DNS</a></li>
        <li><a href="?op=dosyncdomains">Sincronizar dominios</a></li>
        <li><a href="?op=help">Ayuda</a></li>
        <li><a href="?op=todolist">Trayectoria/planes</a></li>
        <li><a href="?op=aboutcontactus">Sobre nosotros y contacto</a></li>
      </ol>
      </td>
      <td style="vertical-align: top;">
      <div style="text-align: center;"><span style="font-weight: bold;">EHCP ESTADO-INFO:<br>
      </span>
      </div></td><td></td></tr></tbody></table><br></body></html>