<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>
  <meta http-equiv="content-Type" content="text/html; charset=ISO-8859-9">
  <link href="mystyles.css" type="text/css" rel="stylesheet">

  <title>Easy Hosting Control Panel (ehcp) www.ehcp.net - {myip}</title></head>
<body>
<kodadi></kodadi>
<div align="center">
<div style="text-align: center;"></div>
<table style="text-align: left; width: 705px; height: 216px;" border="1" cellpadding="2" cellspacing="2">
  <tbody>
    <tr style="height: 93px;">
      <td><img style="width: 143px; height: 89px;" alt="" src="http://www.ehcp.net/demo/images/logo.gif"></td>
      <td style="text-align: center; vertical-align: middle; background-color: rgb(143, 178, 204); width: 552px;"><big><big><big>Easy Hosting Control Panel 0.27<br> </big></big></big>
      <div style="text-align: right;"><a href="http://www.ehcp.net" target="_blank">www.ehcp.net</a><br>
      <a target="_blank" href="http://www.ehcp.net/modules/newbb/">ehcp Foro</a></div>
      </td>
    </tr>
    <tr>
      <td colspan="1" rowspan="3" style="text-align: center; background-color: rgb(203, 191, 205); vertical-align: top;"></td>
      <td style="vertical-align: top; text-align: left; width: 552px;"><div align="center">
	      
	      Por favor ingrese al sistema:
	          <form method="post">
		  <table>
		  <tbody><tr>
		      <td>Usuario</td><td> <input name="username" value="" type="text"></td></tr>
		  <tr>
		    <td>Contrase&ntilde;a </td><td> <input name="password" value="" type="password"></td></tr>
		  <tr><td><input name="op" value="dologin" type="hidden"></td></tr>
		   </tbody></table>
		   <input value="Enviar" type="submit">
	    </form>
	    
	    <br>
	    <a href="?op=applyforaccount">Aplicar para una cuenta de ftp/dominio/panel</a><br>
		<a href="?op=sifrehatirlat">Recuperar contrase&ntilde;a</a><b><br><br>
	    
	      
	      {dynamicinfo}</b></div><b><br>
      <br>
<iframe marginwidth="0" marginheight="0" scrollbars="none" src="http://www.ehcp.net/latest/" frameborder="0" height="120" scrolling="no" width="600"></iframe>
<br>
<script type="text/javascript"><!--
google_ad_client = "pub-0768633782379013";
google_ad_width = 468;
google_ad_height = 60;
google_ad_format = "468x60_as";
google_ad_type = "text_image";
google_ad_channel = "";
//-->
</script>
<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

      </b></td>
    </tr>
    <tr>
      
      <td style="text-align: left; height: 19px; width: 552px;">      
      </td></tr><tr><td>
      <a href="http://www.ehcp.net/" target="_blank">www.ehcp.net</a>      <small><a target="_blank" href="http://www.ehcp.net/">www.ehcp.net</a>
      <a target="_blank" href="http://www.sourceforge.net/projects/ehcp"> sourceforge</a>
      <a target="_blank" href="http://freshmeat.net/projects/ehcp/">freshmeat</a>
      <a target="_blank" href="http://www.powergoogle.com">powergoogle.com</a> <a target="_blank" href="http://www.iyibirisi.com/">www.iyibirisi.com</a>
      <a target="_blank" href="http://www.100tl.com/">www.100tl.com</a> <a href="http://www.vidinli.com/acikartirma" target="_blank">acikartirma</a> <a href="http://www.vidinli.com/online" target="_blank">online hizmetler</a></small>

      </td>
    </tr>
  </tbody>
</table>
<br>
</div>
</body></html>
