<big style="font-weight: bold;"><big></big></big><big style="font-weight: bold;"><big>MENU PRINCIPAL DO ADMINISTRADOR DO SERVIDOR</big></big><br>


  
    
<table style="text-align: left; border="0" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td>
      <div style="text-align: center;"><span style="font-weight: bold;"></span><span style="font-weight: bold;"> DOMINIO OPERAÇÕES <br>
      </span><span style="font-weight: bold;"><img style="width: 50px; height: 52px;" alt="" src="images/domains.jpg"></span></div>
      <ol>
       <li><a href="?op=listdomains">Mostrar Dominios</a></li>
       <li><a href="?op=adddomaineasy">Adicionar Facilmente Dominio(alojamento, todos os utilizadores/palavras chave) </a></li> 
       <li><a href="?op=adddomain">Adicionar Dominio(Alojamento) </a></li>
       
        <li><a href="?op=listpassivedomains">Mostrar Dominios Passivos e novas Aplicações de Dominio</a></li>        
	_____________________________________
        <li><a href="?op=customhttp">Mostrar / Adicionar Custom http </a></li>
        <li><a href="?op=customdns">Mostrar / Adicionar Custom dns </a></li>
	<li><a href="?op=subdomains">Mostrar / Adicionar SubDomains </a></li>
	<li><a href="?op=directories">Mostrar / Adicionar Password Protected Directories </a></li>
      </ol>
      </td>
      <td style="vertical-align: top;">
      <div style="text-align: center;"><span style="font-weight: bold;">FTP OPERAÇÕES DE UTILIZADOR<br>
      <img style="width: 50px; height: 50px;" alt="" src="images/ftp.jpg"></span><br>
      </div>
      <ol>
        <li><a href="?op=listallftpusers">Mostrar todos os Utilizadores de FTP</a></li>
        <li><a href="?op=listftpusersrelatedtodomains">Mostrar todos os Utilizadores de FTP relacionados com Dominio</a></li>
        <li><a href="?op=listftpuserswithoutdomain">Mostrar todos os Utilizadores de FTP sem Dominio</a></li>
        <li><a href="?op=addftpuser">Add Ftp User</a></li>
      </ol>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
      <div style="text-align: center;"><span style="font-weight: bold;">EMAIL OPERAÇÕES<br>
      <img style="width: 52px; height: 50px;" alt="" src="images/email.jpg"></span></div>
      <ol>
        <li><a href="?op=listemailusers">Mostrar Utilizadores de Email com Dominio</a></li>
        <li><a href="?op=listallemailusers">Mostrar Todos os Utilizadores de Email</a></li>
        <li><a href="?op=addemailuser">Adicionar Utilizador de Email</a></li>
	<li><a href="?op=emailforwardings">Mostrar/Adicionar Reendirectionamento de Email</a></li>
      </ol>
      </td>
      <td style="vertical-align: top;">
      <div style="text-align: center;"><span style="font-weight: bold;">MYSQL MYSQL BASE DE DADOS OPERAÇÕES<br>
      <img style="width: 48px; height: 48px;" alt="" src="images/database.jpg"></span></div>
      <ol>
        <li><a href="?op=addmysqldb">Adicionar BD Mysql</a></li>
        <li><a href="?op=domainop&amp;action=listdb">Mostrar BD's Mysql</a></li>
      </ol>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
      <div style="text-align: center;"><span style="font-weight: bold;">OUTROS/REVENDEDOR</span></div>
      <ol>
        <li><a href="?op=listpanelusers">Mostrar Utilizadores/Revendedores de Painel</a></li>
	<li><a href="?op=addpaneluser">Adicionar Utilizador/Revendedor de Painel</a></li>
	<li><a href="?op=addscript">Instalação Fácil de Script's</a></li>
 
        <li><a href="?op=changemypass">Alterar a minha Palavra Chave</a></li>
        <li><a href="?op=dosyncdns">Sincronizar dns</a></li>
        <li><a href="?op=dosyncdomains">Sincronizar domains</a></li>
        <li><a href="?op=help">Ajuda-Yardim</a></li>
        <li><a href="?op=todolist">Roadmap/Todo
Mostrar/Planos</a></li>
        <li><a href="?op=aboutcontactus">Sobre Nós/Contacta-nos</a></li>
      </ol>
      </td>
      <td style="vertical-align: top;">
      <div style="text-align: center;"><span style="font-weight: bold;">EHCP ESTADO-INFORMAÇÕES
      </span><br>
      </div>
      <ol>
	<li><a href="?op=operations">Mostrar Operações Daemon Completas/Pendentes</a></li>
	<li><a href="index.php?op=dobackup">Cópia de Segurança do Servidor</a></li>
	<li><a href="index.php?op=dorestore">Restaurar Servidor</a></li>
	<li><a href="index.php?op=listbackups">Mostrar Cópias de Segurança do Servidor</a></li>
	<li><a href="?op=options">Editar ehcp/Servidor Opções/Preferências</a></li>
	<li><a href="?op=changetemplate">Escolher/Alterar Modelo</a></li>

     </ol>
      </td>
      <td></td>
    </tr>
  </tbody>
</table></body>
