<big style="font-weight: bold;"><big></big></big><big style="font-weight: bold;"><big>Server Admin Main Menu</big></big><br>

<table style="text-align: left;" border="0" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td style="text-align: center;"><a href="?op=selectdomain">Escolher ou Adicinar Dominios</a></td>
      
      
    </tr>
    <tr>
      <td style="text-align: center;">{dominios-rápidos}</td>
      
      
    </tr>
    <tr>
      <td style="text-align: center;"><a href="?op=otheroperations">Outras Operações</a></td>
      
      
    </tr>
  </tbody>
</table>
