<big style="font-weight: bold;"><big></big></big><big style="font-weight: bold;"><big>Menu Principal de Revendedor</big></big><br>
<table style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td>
      <div style="text-align: center;"><span style="font-weight: bold;"></span><span style="font-weight: bold;"> DOMINIO OPERAÇÕES <br>
      </span><span style="font-weight: bold;"><img style="width: 50px; height: 52px;" alt="" src="images/domains.jpg"></span></div>
      <ol>
       <li><a href="?op=listdomains">Mostrar Dominios</a></li>
       <li><a href="?op=adddomaineasy">Adicionar Facilmente Dominios(Alojamento, Todos os Utilizadores e Palavras Chave) </a></li> 
       <li><a href="?op=adddomain">Adicionar Dominio(Alojamento) </a></li>
       
        <li><a href="?op=listpassivedomains">Mostrar Dominios Passivos e Adicionar novas Aplicações de Dominios</a></li>        
	_____________________________________
        <li><a href="?op=customhttp">Mostrar / Adicionar Custom http </a></li>
        <li><a href="?op=customdns">Mostrar / Adicionar Custom dns </a></li>
	<li><a href="?op=subdomains">Mostrar / Adicionar SubDomains </a></li>
	<li><a href="?op=directories">Mostrar / Adicionar Pastas Protegidas por Palavra Chave </a></li>
      </ol>
      </td>
      <td>
      <div style="text-align: center;"><span style="font-weight: bold;">FTP OPERAÇÕES De Utilizadores<br>
      <img style="width: 50px; height: 50px;" alt="" src="images/ftp.jpg"></span><br>
      </div>
      <ol>
        <li><a href="?op=listallftpusers">Mostrar todos os Utilizadores de FTP</a></li>
        <li><a href="?op=listftpusersrelatedtodomains">Mostrar todos os Utilizadores de FTP relacionados com Dominios</a></li>
        <li><a href="?op=listftpuserswithoutdomain">Mostrar todos os Utilizadores de FTP sem Dominios</a></li>
        <li><a href="?op=addftpuser">Adicionar Usuário FTP</a></li>
      </ol>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
      <div style="text-align: center;"><span style="font-weight: bold;">EMAIL OPERAÇÕES<br>
      <img style="width: 52px; height: 50px;" alt="" src="images/email.jpg"></span></div>
      <ol>
        <li><a href="?op=listemailusers">Mostrar Utilizadores de Email de um Dominio</a></li>
        <li><a href="?op=listallemailusers">Mostrar todos os Utilizadores de Email</a></li>
        <li><a href="?op=addemailuser">Adicionar Utilizador de Email</a></li>
	<li><a href="?op=emailforwardings">Mostrar / Adicionar Reendirecionamento de Email</a></li>
      </ol>
      </td>
      <td>
      <div style="text-align: center;"><span style="font-weight: bold;">MYSQL BASE DE DADOS OPERAÇÕES<br>
      <img style="width: 48px; height: 48px;" alt="" src="images/database.jpg"></span></div>
      <ol>
        <li><a href="?op=addmysqldb">Adicionar BD Mysql</a></li>
        <li><a href="?op=domainop&amp;action=listdb">Mostrar BD's Mysql</a></li>
      </ol>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
      <div style="text-align: center;"><span style="font-weight: bold;">Outros/Revendedores</span></div>
      <ol>
        <li><a href="?op=listpanelusers">Mostrar Utilizadores/Revendedores de Painel</a></li>
 		<li><a href="?op=addpaneluser">Adicionar Utilizador/Revendedor de Painel</a></li>
 		<li><a href="?op=addscript">Instalação Fácil de Script's</a></li>
        <li><a href="?op=changemypass">Alterar a minha Palavra Chave</a></li>
        <li><a href="?op=dosyncdns">Sincronizar dns</a></li>
        <li><a href="?op=dosyncdomains">Sincronizar Dominios</a></li>
        <li><a href="?op=help">Ajuda-Yardim</a></li>
        <li><a href="?op=todolist">Roadmap/Todo
Mostrar/Planos</a></li>
        <li><a href="?op=aboutcontactus">Sobre Nós / Contacte-nos</a></li>
      </ol>
      </td>
      <td style="vertical-align: top;">
      <div style="text-align: center;"><span style="font-weight: bold;">EHCP ESTADO-INFORMAÇÕES:<br></span>
      </div></td><td></td></tr></tbody></table>
