
<big style="font-weight: bold;"><big></big></big><big style="font-weight: bold;"><big>Domain Menu For Reseller/Admin<br></big></big><big style="font-weight: bold;"><big><br></big></big>


<table style="text-align: left;" border="0" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td>
      <div style="text-align: center;"><span style="font-weight: bold;"></span><span style="font-weight: bold;"> DOMINIO OPERAÇÕES <br>
      </span><span style="font-weight: bold;"><img style="width: 50px; height: 52px;" alt="" src="images/domains.jpg"></span></div>
      <ol>
       
        <li><a href="?op=customhttp">Mostrar / Adicionar Custom http </a></li>
        <li><a href="?op=customdns">Mostrar / Adicionar Custom dns </a></li>
	<li><a href="?op=subdomains">Mostrar / Adicionar Sub-Dominios </a></li>
	<li><a href="?op=directories">Mostrar / Adicionar Pastas Protegidas por Palavra Chave</a></li>
      </ol>
      </td>
      <td style="vertical-align: top;">
      <div style="text-align: center;"><span style="font-weight: bold;">FTP OPERAÇÕES DO UTILIZADOR<br>
      <img style="width: 50px; height: 50px;" alt="" src="images/ftp.jpg"></span><br>
      </div>
      <ol>
        <li><a href="?op=editftpuser">Alterar Palavra Chave do FTP / Opções</a></li></ol>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
      <div style="text-align: center;"><span style="font-weight: bold;">EMAIL OPERAÇÕES<br>
      <img style="width: 52px; height: 50px;" alt="" src="images/email.jpg"></span></div>
      <ol>
        
        <li><a href="?op=listemailusers">Mostrar Utilizadores de Email / Alterar Palavras Chave</a></li>
        <li><a href="?op=addemailuser">Adicionar Utilizador de Email</a></li>
	<li><a href="?op=emailforwardings">Mostrar / Adicionar Reendirecionamentos de Email</a></li>
      </ol>
      </td>
      <td style="vertical-align: top;">
      <div style="text-align: center;"><span style="font-weight: bold;">MYSQL BASE DE DADOS OPERAÇÕES<br>
      <img style="width: 48px; height: 48px;" alt="" src="images/database.jpg"></span></div>
      <ol>
        <li><a href="?op=addmysqldb">Adicionar BD Mu~ysql</a></li>
        <li><a href="?op=domainop&amp;action=listdb">Mostrar BD's Mysql</a></li>
      </ol>
      </td>
      <td></td>
    </tr>
    <tr>
      <td style="vertical-align: top;">
      <div style="text-align: center;"><span style="font-weight: bold;">Outros</span></div>
      <ol>
      <li><a href="?op=addscript">Instalação Fácil de Script's</a></li></ol>
      </td>
      <td style="vertical-align: top;"><div style="text-align: center;"><span style="font-weight: bold;">ALTERAR OPÇÕES DO DOMINIO</span></div>
      <ol><li><a href="?op=domainsettings">Alterar Opções para este Dominio</a></li><li><a href="?op=editdomain">Activar / Desactivar Dominio</a></li><li><a href="?op=transferdomain">Transferir Dominio</a></li><li><a href="?op=deletedomain">Apagar Dominio / Alojamento</a></li></ol></td>
      <td></td>
    </tr>
  </tbody>
</table>
