<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>EHCP - {myip}</title>	
	<link href="{stylefile}" type="text/css" rel="stylesheet">

</head><body>


<!-- left -->
<div style="height: 100%;" id="divLeft">

<div id="divMenu">
<table id="Table1" border="0" cellpadding="0" cellspacing="0" width="185">
<tbody><tr>
	<td colspan="3" class="InfoPaneHeader" id="tdInfoActivity" width="185">Menu Principal</td>
</tr>
<tr>
	<td class="InfoPaneFrame" width="1"><img src="1x1.gif" height="1" width="1"></td>
	<td class="InfoPaneRow" width="183">
	<a href="index.php?op=deselectdomain"><b>Página Inicial</b></a><br>
	<a href="index.php?op=resellers"><b>Revendedores</b></a><br>
	<a href="index.php?op=listpanelusers"><b>Clientes</b></a><br>
	<a href="index.php?op=selectdomain"><b>Dominios</b></a><br>
	<a href="index.php?op=adddomaineasy">Adicionar Dominios Facilmente</a><br>
	<a href="index.php?op=adddomain">Adicionar Dominio</a><br><br>

	<a href="?op=otheroperations">Menu Antigo</a>
	<br />&nbsp;
	</td>
	<td class="InfoPaneFrame" width="1"><img src="1x1.gif" height="1" width="1"></td>
</tr>

<tr>
	<td colspan="3" class="InfoPaneFrame" width="185"></td>
</tr>
</tbody></table>
</div>
<br />&nbsp;

<div id="divMenu">
<table id="Table1" border="0" cellpadding="0" cellspacing="0" width="185">
<tbody><tr>
	<td colspan="3" class="InfoPaneHeader" id="tdInfoActivity" width="185">Tools</td>
</tr>
<tr>
	<td class="InfoPaneFrame" width="1"><img src="1x1.gif" height="1" width="1"></td>
	<td class="InfoPaneRow" width="183">
	<a target="_blank" href="webmail">Webmail</a><br>
	<a target="_blank" href="/phpmyadmin">Phpmyadmin</a><br>
	<a target="_blank" href="net2ftp">WebFtp</a>

	<br />&nbsp;
	</td>
	<td class="InfoPaneFrame" width="1"><img src="1x1.gif" height="1" width="1"></td>
</tr>

<tr>
	<td colspan="3" class="InfoPaneFrame" width="185"></td>
</tr>
</tbody></table>
</div>

<br />&nbsp;

<div id="divMenu">
<table id="Table1" border="0" cellpadding="0" cellspacing="0" width="185">
<tbody><tr>
	<td colspan="3" class="InfoPaneHeader" id="tdInfoActivity" width="185">Sistema</td>
</tr>
<tr>
	<td class="InfoPaneFrame" width="1"><img src="1x1.gif" height="1" width="1"></td>
	<td class="InfoPaneRow" width="183">	
	<a target="_blank" href="sysinfo">Sysinfo</a><br>
	<a href="index.php?op=options"><b>Oções</b></a><br>
	<a href="index.php?op=changetemplate">Modelos</a><br>
	<a href="http://www.ehcp.net" target="_blank">EHCP Site</a><br><br>
	<a href="?op=logout"><b>Sair</b></a>
	<br />&nbsp;
	</td>
	<td class="InfoPaneFrame" width="1"><img src="1x1.gif" height="1" width="1"></td>
</tr>

<tr>
	<td colspan="3" class="InfoPaneFrame" width="185"></td>
</tr>
</tbody></table>
</div>
<div id="divCopy">
Apoiado por <a href="http://www.ehcp.net/" target="_blank">EHCP</a>
</div>
</div>

<!-- right -->
<div id="divMainRightHeader"><div id="divBanner">{banner}</div></div>
<div id="divMain" align="left">
      
      {selecteddomain}      
      {ickisim}

</div>

</body></html>
